@use "../../../styles//mixin.scss" as mixin;
@import "../../../styles//variables.scss";

.section {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .wrapper {
    @include mixin.wrapper();
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      font-size: $font-medium;
      color: $font-dark-gray;
      text-align: center;
      padding: 1rem;
    }

    span {
      padding: 1rem;
      font-size: $font-medium;
    }
  }
}

@include mixin.tablet() {
  .section {
    min-height: 50vh;

    .wrapper {
      h3 {
        max-width: 80%;
      }
      img {
        max-height: 550px;
      }
    }
  }
}
