@import "./variables.scss";
@import "reset.scss";

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.primary-btn {
  display: flex;
  align-items: center;
  border-radius: 25px;
  color: $primary-color-green;
  background: $primary-color-gray;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0.5rem 1rem;
  box-shadow: rgba(61, 127, 58, 0.25) 0px 2px 4px;
  font-size: $font-small;

  .icon {
    margin-left: 0.5rem;
  }
}
