$primary-color-green: #3d7f3a;
$primary-color-dark: #30373a;
$primary-color-gray: #f5f9fc;
$font-gray: #f5f9fc;
$font-black: #000;

@mixin list-default {
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin link-default {
  text-decoration: none;
  color: inherit;
}

@mixin arrow-icon($bg-color, $color) {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 50%;
  font-size: smaller;
  background: $bg-color;
  color: $color;

  &:hover {
    cursor: pointer;
  }
}

@mixin wrapper {
  max-width: 75rem;
  padding: 1rem;
}

@mixin contentWrapper {
  margin: 1rem;
}

@mixin desktop {
  @media (min-width: 840px) {
    @content;
  }
}
