$primary-color-green: #3d7f3a;
$primary-color-dark: #30373a;
$primary-color-gray: #f5f9fc;

$font-gray: #8d9097;
$font-dark-gray: #515c6c;
$font-black: #000;
$font-bright: #f5f5f5;

$font-extra-small: 0.6rem;
$font-micro: 0.8rem;
$font-small: 1rem;
$font-medium: 1.2rem;
$font-big: 1.8rem;
$font-large: 2.1rem;

// //gradients
$gradients: (
  ladunek: (
    #ecc9d8,
    #ffffff,
    #fde6f0,
  ),
  faktura: (
    #fbd48e,
    #ffffff,
    #fff6e6,
  ),
  cmr: (
    #a080a0,
    #ffffff,
    #faf1fa,
  ),
  statystyki: (
    #9d9fd4,
    #ffffff,
    #9d9fd4,
  ),
  archiwum: (
    #9ad582,
    #ffffff,
    #eff7ec,
  ),
  aktualizacje: (
    #94dbd4,
    #ffffff,
    #edf9f8,
  ),
);
