@use "../../styles/mixin.scss" as mixin;
@import "../../styles/variables.scss";

.section {
  display: flex;
  justify-content: center;
  min-height: 80vh;
  align-items: center;

  .wrapper {
    @include mixin.wrapper();
    display: flex;
    height: 100%;
    flex-direction: column;

    .h2 {
      @include mixin.contentWrapper();
      text-align: center;
      color: $font-dark-gray;
      padding: 3rem 0;
    }

    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .desktopWrapper {
        @include mixin.contentWrapper();
      }

      .mobileWrapper {
        max-width: 550px;
        position: relative;

        .iconsRow,
        .dotsRow {
          display: grid;
          grid-template-columns: auto auto auto auto auto;
          width: 100%;
          justify-items: center;
          align-items: center;
        }

        .iconsRow {
          margin: 1.5rem 0;
          .icon {
            font-size: $font-big;
            color: $font-gray;
          }
          .icon.selected {
            color: $primary-color-green;
            transition: color 0.3s ease;
          }
        }

        .dotsRow {
          position: relative;
          .dot {
            background: $font-gray;
            width: 11px;
            height: 11px;
            border-radius: 50%;

            &::before {
              position: absolute;
              content: "";
              width: 100%;
              border-bottom: 1px solid $font-gray;
              left: 0;
              bottom: 50%;
              z-index: -1;
            }
          }
          .dot.selected {
            background-color: $primary-color-green;
            transition: background-color 0.3s ease;
          }
        }
        .explanation {
          text-align: center;
          padding: 1rem;
          font-size: $font-small;
          font-weight: 600;
          color: $font-gray;
          margin: 1rem 0;

          .p {
            min-height: 70px;
          }
        }

        .laptop {
          display: flex;
          justify-content: center;
          min-height: 325px;
          align-items: center;
        }
      }

      .desktopWrapper {
        display: none;
      }

      @include mixin.desktop() {
        .mobileWrapper {
          display: none;
        }

        .desktopWrapper {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          .stepsWrapper {
            width: 40%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .singleStep {
              display: grid;
              grid-template-columns: auto auto auto;
              align-items: center;

              .icon {
                font-size: $font-medium;
                min-width: 50px;
                cursor: pointer;
                transition: all 0.3s ease;
              }

              .icon.selected {
                color: $primary-color-green;
                font-size: $font-big;
              }

              .dotWrapper {
                min-width: 50px;
                display: flex;
                justify-content: center;
                position: relative;
                height: 100%;
                align-items: center;

                &::after {
                  content: "";
                  position: absolute;
                  height: 100%;
                  width: 1px;
                  background: $font-gray;
                  left: 50%;
                  z-index: -1;
                }

                .dot {
                  width: 10px;
                  height: 10px;
                  border-radius: 50%;
                  background: $font-gray;
                  cursor: pointer;
                  transition: all 0.3s ease;
                }

                .dot.selected {
                  background: $primary-color-green;
                  width: 12px;
                  height: 12px;
                }
              }

              .p {
                padding: 1rem;
                font-size: $font-small;
                cursor: pointer;
                font-weight: 600;
              }

              .p.selected {
                color: $primary-color-green;
              }
            }
          }

          .laptop {
            display: flex;
            align-items: center;
            width: 60%;
            min-width: 35rem;
            height: 100%;
          }
        }
      }

      .ending {
        width: 100%;
        padding: 0 1rem;

        .h4 {
          color: $font-dark-gray;
          font-size: $font-small;
          margin: 1rem 0;
        }

        .listsWrapper {
          display: flex;

          .ul {
            @include mixin.list-default();
            list-style-type: "❯";
            columns: 1;
            -webkit-columns: 1;
            -moz-columns: 1;

            .li {
              font-size: $font-micro;
              padding: 0.5rem;
              margin-left: 0.5rem;
              font-weight: 600;
              max-width: 80%;

              &::marker {
                color: $primary-color-green;
                font-size: $font-small;
              }
            }
          }

          @include mixin.tablet() {
            .ul {
              columns: 2;
              -webkit-columns: 2;
              -moz-columns: 2;
            }
          }
        }
      }
    }
  }
}
