@use "../../styles/mixin.scss" as mixin;
@import "../../styles/variables.scss";

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  .wrapper {
    @include mixin.wrapper();

    .content {
      @include mixin.contentWrapper();

      .stepWrapper {
        .singleStep {
          margin: 1rem;
          position: relative;
          border-radius: 5px;
          padding: 1rem;

          &:nth-child(even) {
            &::after {
              position: absolute;
              content: "";
              background-image: linear-gradient(
                45deg,
                hsl(198deg 9% 21%) 0%,
                hsl(198deg 8% 24%) 0%,
                hsl(198deg 7% 27%) 0%,
                hsl(198deg 6% 31%) 0%,
                hsl(198deg 5% 34%) 1%,
                hsl(198deg 4% 37%) 2%,
                hsl(198deg 4% 41%) 3%,
                hsl(198deg 3% 45%) 5%,
                hsl(198deg 3% 48%) 7%,
                hsl(198deg 3% 52%) 10%,
                hsl(198deg 3% 56%) 13%,
                hsl(198deg 3% 59%) 18%,
                hsl(198deg 3% 63%) 23%,
                hsl(198deg 3% 67%) 29%,
                hsl(199deg 3% 71%) 36%,
                hsl(199deg 3% 75%) 45%,
                hsl(199deg 3% 79%) 56%,
                hsl(199deg 3% 83%) 69%,
                hsl(199deg 3% 87%) 83%,
                hsl(199deg 3% 91%) 94%,
                hsl(199deg 2% 95%) 99%,
                hsl(0deg 0% 99%) 100%
              );
              border-radius: 5px;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              z-index: -1;
              opacity: 0.3;
            }
          }

          &:nth-child(odd) {
            &::after {
              position: absolute;
              content: "";
              background-image: linear-gradient(
                45deg,
                hsl(117deg 37% 36%) 0%,
                hsl(116deg 33% 39%) 0%,
                hsl(115deg 30% 42%) 0%,
                hsl(114deg 26% 45%) 0%,
                hsl(114deg 24% 48%) 1%,
                hsl(113deg 22% 51%) 2%,
                hsl(113deg 22% 53%) 3%,
                hsl(112deg 22% 56%) 5%,
                hsl(112deg 22% 59%) 7%,
                hsl(112deg 22% 62%) 10%,
                hsl(111deg 22% 65%) 13%,
                hsl(111deg 22% 68%) 18%,
                hsl(111deg 22% 71%) 23%,
                hsl(110deg 22% 74%) 29%,
                hsl(110deg 22% 77%) 36%,
                hsl(110deg 22% 80%) 45%,
                hsl(110deg 22% 84%) 56%,
                hsl(110deg 22% 87%) 69%,
                hsl(109deg 22% 90%) 83%,
                hsl(109deg 21% 93%) 94%,
                hsl(109deg 19% 96%) 99%,
                hsl(0deg 0% 99%) 100%
              );
              border-radius: 5px;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              z-index: -1;
              opacity: 0.3;
            }
          }

          .textWrapper {
            .abstraWrapper {
              img {
                height: 150px;
              }
            }

            h4,
            p {
              margin: 2rem 0;
              font-weight: 400;
            }
            h4 {
              font-size: $font-large;
            }

            p {
              color: $font-dark-gray;
            }

            ul {
              @include mixin.list-default();

              li {
                align-items: center;
                display: flex;
                gap: 1rem;
                font-size: $font-micro;
                color: $font-dark-gray;
                margin: 2rem 0;

                &::before {
                  align-self: start;
                  background-image: linear-gradient(
                    45deg,
                    hsl(117deg 37% 36%) 0%,
                    hsl(140deg 42% 37%) 11%,
                    hsl(154deg 46% 38%) 22%,
                    hsl(163deg 44% 39%) 33%,
                    hsl(170deg 38% 43%) 44%,
                    hsl(177deg 30% 47%) 56%,
                    hsl(183deg 24% 52%) 67%,
                    hsl(188deg 21% 57%) 78%,
                    hsl(194deg 16% 61%) 89%,
                    hsl(199deg 9% 65%) 100%
                  );
                  border-radius: 100%;
                  content: "";
                  flex-shrink: 0;
                  height: 1rem;
                  margin-block-start: 0.3em;
                  width: 1rem;
                }
              }
            }
          }

          .imagesWrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            img {
              margin: 2rem 0;
              width: 100%;
            }
          }
        }
      }

      .endingSection {
        padding: 1rem;

        h3,
        .paraf,
        ul {
          margin: 2rem 0;
        }

        h3 {
          font-size: $font-medium;
          font-weight: 400;
          color: $font-black;
        }

        .paraf {
          font-size: $font-micro;
          color: $font-dark-gray;
          font-weight: 600;
          line-height: 1.8;
        }

        ul {
          @include mixin.list-default();

          li {
            font-size: $font-micro;
            display: flex;
            margin: 1rem 0;
            align-items: center;
            gap: 1rem;

            img {
              max-height: 20px;
            }
          }
        }
      }
    }
  }
}

@include mixin.tablet() {
  .section {
    .wrapper {
      .content {
        .stepWrapper {
          .singleStep {
            display: flex;

            .textWrapper,
            .imagesWrapper {
              width: 50%;
            }

            .textWrapper {
              li {
                max-width: 90%;
              }
            }
          }
        }

        .endingSection {
          h3,
          .paraf {
            max-width: 80%;
          }
        }
      }
    }
  }
}

@include mixin.tablet() {
  .section {
    .wrapper {
      .content {
        .endingSection {
          h3,
          .paraf {
            max-width: 70%;
          }
        }
      }
    }
  }
}
