@use "../../styles/mixin.scss" as mixin;
@import "../../styles/variables.scss";

.section {
  .wrapper {
    @include mixin.wrapper();
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;

    .headWrapper {
      overflow: hidden;
      width: 90%;
      text-align: center;
      padding: 3rem 0;

      h2 {
        font-size: $font-big;
        color: $font-dark-gray;
        margin-top: 1rem;
      }

      p {
        font-size: $font-small;
        color: $font-gray;
      }
    }

    .contentWrapper {
      @include mixin.contentWrapper();

      .singleStep {
        margin-bottom: 2rem;
        display: flex;
        align-items: center;

        .number {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 35px;
          height: 35px;
          padding: 1rem;
          border-radius: 50%;
          margin: 0 1rem;
          border: 1px solid rgba(0, 0, 0, 0.1);
          box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
          font-size: $font-small;
          color: $primary-color-green;
          font-weight: 600;
        }

        .textWrapper {
          h3 {
            margin-bottom: 0.5rem;
            font-size: $font-small;
            color: $font-dark-gray;
          }

          p {
            font-size: $font-micro;
            color: $font-gray;
          }
        }
      }
    }

    .imgWrapper {
      background-image: linear-gradient(
        45deg,
        hsl(117deg 37% 36%) 0%,
        hsl(115deg 29% 43%) 11%,
        hsl(113deg 22% 49%) 22%,
        hsl(112deg 21% 55%) 33%,
        hsl(111deg 21% 62%) 44%,
        hsl(111deg 21% 69%) 56%,
        hsl(110deg 20% 75%) 67%,
        hsl(110deg 19% 82%) 78%,
        hsl(109deg 16% 89%) 89%,
        hsl(0deg 0% 96%) 100%
      );
      border-radius: 5px;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        margin: 1.5rem 0;
        border-radius: 15px;
      }
    }

    .btnWrapper {
      overflow: hidden;
    }
  }
}

@include mixin.tablet() {
  .section {
    display: flex;
    align-items: center;
    justify-content: center;

    .wrapper {
      @include mixin.wrapper();

      .headWrapper {
        p {
          font-size: $font-medium;
        }
      }

      .contentWrapper {
        @include mixin.contentWrapper();
        display: flex;
        flex-direction: column;
        align-items: center;

        .steps {
          display: flex;
          flex-direction: column;
          align-items: center;
          .singleStep {
            margin-bottom: 0;
            margin: 2rem;
            width: 545px;
            box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
            padding: 1rem;

            .textWrapper {
              h3 {
                font-size: $font-medium;
              }

              p {
                font-size: $font-small;
              }
            }
          }
        }

        .imgWrapper {
          margin: 2rem 0;
          width: 520px;
          min-height: 45vh;
          justify-content: space-between;
        }
      }
    }
  }
}

@include mixin.desktop() {
  .section {
    .wrapper {
      .contentWrapper {
        flex-direction: row;
        align-items: normal;
        justify-content: space-between;
        width: 100%;

        .steps {
          width: 45%;
          margin-right: 1rem;
          display: flex;
          justify-content: space-between;

          .singleStep {
            width: 90%;
            border-radius: 5px;
          }
        }

        .imgWrapper {
          width: 45%;
          margin: 0;
        }
      }

      .btnWrapper {
        margin: 1.5rem 0;
      }
    }
  }
}
