@use "../../styles/mixin.scss" as mixin;
@import "../../styles/variables.scss";

.section {
  .content {
    @include mixin.wrapper();
    min-height: 80vh;

    .mobile {
      display: none;
    }

    .contactForm {
      @include mixin.contentWrapper();

      h4 {
        font-size: $font-big;
        color: $font-dark-gray;
        margin-bottom: 1rem;
      }

      p {
        font-size: $font-small;
        color: $font-dark-gray;
        margin-bottom: 1rem;
      }
    }
  }
}

@include mixin.tablet() {
  .section {
    display: flex;
    justify-content: center;

    .content {
      display: flex;
      align-items: center;
      justify-content: center;
      .mobile {
        @include mixin.contentWrapper();
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
        height: 50vh;

        img {
          max-height: 55vh;
        }
      }

      .contactForm {
        width: 40%;
      }
    }
  }
}
