@use "../../styles/mixin.scss" as mixin;
@import "../../styles/variables.scss";

.section {
  display: flex;
  flex-direction: column;

  .header {
    width: 100%;
    min-height: 40vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .barsWrapper {
      display: flex;
      position: absolute;
      height: 100%;
      align-items: stretch;
      justify-content: space-between;
      width: 100%;
      z-index: -1;

      .bar {
        display: block;
        width: 1px;
        content: "";
        background-color: $primary-color-gray;
      }
    }

    .hTextWrapper {
      align-self: center;
      justify-self: center;
      text-align: center;

      p {
        font-size: $font-medium;
        color: $font-gray;
      }
      h3 {
        font-size: $font-large;
        color: $font-dark-gray;
      }
    }
  }

  .middle {
    @each $key, $value in $gradients {
      @if map-has-key($gradients, $key) and $value and length($value) > 0 {
        &.#{$key} {
          background: linear-gradient(221deg, #{$value});
          background-size: 600% 600%;
          -webkit-animation: movingBackgroundGradient 21s ease infinite;
          -moz-animation: movingBackgroundGradient 21s ease infinite;
          animation: movingBackgroundGradient 21s ease infinite;
        }
      }
    }

    .wrapper {
      @include mixin.wrapper();
      display: flex;
      flex-direction: column;
      align-items: center;

      .textWrapper {
        margin: 1rem 0;
        background: transparent;

        h5 {
          font-size: $font-large;
          color: $font-dark-gray;
          margin-bottom: 1rem;
        }

        p {
          font-size: $font-medium;
          color: $font-dark-gray;
        }
      }

      .video {
        height: 300px;
        width: 300px;
        border-radius: 400px;
        overflow: hidden;
        margin: 1rem 0;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url("/images/features/cargo/cargo_thumb.png");
        background-size: cover;

        .videoBtn {
          background-image: url("/images/features/arrow.svg");
          background-size: cover;
          background-position: center;
          width: 100px;
          height: 100px;
          border-radius: 50%;
          position: relative;

          span {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
        }
      }
    }

    .content {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      background: $primary-color-dark;
      padding: 3rem 0;

      .images {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .singleImg {
          border-radius: 5px;
          margin: 1rem 0;
          display: flex;
          width: fit-content;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

          img {
            border-radius: 5px;
            width: 100%;
            object-fit: cover;
          }
        }
      }

      .explanation {
        margin-top: 2rem;
        margin-bottom: 5rem;

        h4 {
          font-size: $font-big;
          color: $font-bright;
          margin-left: 1rem;
        }

        ul {
          @include mixin.list-default();
          margin: 0 0.5rem;

          li {
            margin: 1rem;
            list-style-type: disc;
            font-size: $font-small;
            color: $font-gray;
            font-weight: 600;
          }
        }
      }
    }

    .funcNav {
      background-color: #fff;
      padding: 2rem 0;
      width: 100%;
      text-align: center;

      .link {
        padding: 1rem 0;
        border-top: 2px solid $primary-color-gray;
        border-bottom: 2px solid $primary-color-gray;

        a {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 0.5rem;
          border-radius: 5px;
          box-shadow: rgba(0, 0, 0, 0) 0px 1px 4px;
          transition: box-shadow 0.2s ease;

          &:hover {
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          }

          p {
            text-transform: uppercase;
            color: $font-dark-gray;
            font-weight: 600;
            font-size: $font-small;
          }

          .icon {
            color: $font-gray;
            font-size: $font-medium;
            margin: 1rem 0;
          }
        }
      }

      .logo {
        object-fit: contain;
        display: flex;
        justify-content: center;
        padding: 1rem 0;

        img {
          height: 30px;
          margin-top: auto;
          margin-bottom: auto;
        }
      }
    }
  }
}

@include mixin.mobile() {
  .section {
    .middle {
      .content {
        .images {
          display: grid;
          grid-template-columns: 50% 50%;
          margin-left: auto;
          margin-right: auto;

          .singleImg {
            margin: 1rem;

            &:nth-child(even) {
              position: relative;
              top: 50px;
            }
          }
        }

        .explanation {
          margin-top: 5rem;
        }
      }

      .funcNav {
        display: flex;
        flex-direction: row;

        .link {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
        }

        .logo {
          border: 2px solid $primary-color-gray;
          width: 20%;
        }
      }
    }
  }
}

@include mixin.tablet() {
  .section {
    .header {
      .hTextWrapper {
        p {
          font-size: $font-small;
        }

        h3 {
          font-size: $font-large;
        }
      }
    }

    .middle {
      display: flex;
      flex-direction: column;
      align-items: center;

      .wrapper {
        .textWrapper {
          max-width: 65%;

          p {
            font-size: $font-small;

            &::before {
              left: -10px;
            }

            &::after {
              right: -10px;
            }
          }
        }
      }

      .content {
        @include mixin.wrapper();
      }

      .funcNav {
        margin-top: 4rem;
        .link,
        .logo {
          padding: 1rem 0;
        }

        .link {
          a {
            flex-direction: row;
            .icon {
              margin: 1rem 1rem;
            }
          }

          &:last-child {
            a {
              flex-direction: row-reverse;
            }
          }
        }
      }
    }
  }
}

@include mixin.desktop() {
  .section {
    .middle {
      .wrapper {
        flex-direction: row;
        justify-content: space-around;

        .textWrapper {
          width: 30%;
        }
      }

      .content {
        flex-direction: row;
        border-radius: 5px;

        .images {
          margin-bottom: 55px;
          width: 50%;
        }

        .explanation {
          width: 50%;
          margin-top: 0;
          margin-bottom: 0;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
        }
      }
    }
  }
}

// @each $key, $value in $gradients {
//   @if map-has-key($gradients, $key) and $value and length($value) > 0 {
//     &.#{$key} {
//       background: linear-gradient(221deg, #{$value});
//       background-size: 600% 600%;
//       -webkit-animation: AnimationName 21s ease infinite;
//       -moz-animation: AnimationName 21s ease infinite;
//       animation: AnimationName 21s ease infinite;
//     }
//   }
// }

@-webkit-keyframes movingBackgroundGradient {
  0% {
    background-position: 99% 0%;
  }
  50% {
    background-position: 2% 100%;
  }
  100% {
    background-position: 99% 0%;
  }
}
@-moz-keyframes movingBackgroundGradient {
  0% {
    background-position: 99% 0%;
  }
  50% {
    background-position: 2% 100%;
  }
  100% {
    background-position: 99% 0%;
  }
}
@keyframes movingBackgroundGradient {
  0% {
    background-position: 99% 0%;
  }
  50% {
    background-position: 2% 100%;
  }
  100% {
    background-position: 99% 0%;
  }
}
