@use "../../styles/mixin.scss" as mixin;
@import "../../styles/variables.scss";

.section {
  background-image: url("/images/bg1.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  .wrapper {
    @include mixin.wrapper();
    display: flex;
    flex-direction: column;
    align-items: center;

    .h2 {
      text-align: center;
      color: $font-dark-gray;
      padding: 3rem 0;
    }

    .featureParagraph {
      color: $font-dark-gray;
      max-width: 95%;
      font-size: $font-micro;

      p {
        margin: 0.8rem 0;
      }
    }

    .h2,
    .cardsWrapper {
      @include mixin.contentWrapper();
    }

    .cardsWrapper {
      .card {
        background: #fff;
        margin-bottom: 0.8rem;
        border-radius: 5px;
        padding: 1.2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 400px;
        -webkit-box-shadow: 0px 0px 38px -24px rgba(66, 68, 90, 1);
        -moz-box-shadow: 0px 0px 38px -24px rgba(66, 68, 90, 1);
        box-shadow: 0px 0px 38px -24px rgba(66, 68, 90, 1);
        position: relative;

        .iconWrapper {
          border-radius: 50%;
          padding: 0.7rem;
          display: flex;
          align-items: center;

          .icon {
            font-size: $font-big;
          }
        }

        .featureImage {
          height: 350px;
        }

        .h4 {
          text-align: center;
          max-width: 80%;
          margin-top: 1rem;
          color: $font-dark-gray;
        }

        .p {
          text-align: center;
          color: $font-dark-gray;
          color: #000;
          margin-top: 1rem;
        }

        .button {
          font-size: $font-micro;
          margin: 0.8rem 0;
          padding: 0.5rem 0.5rem;
          border-radius: 25px;
          background-color: $primary-color-gray;
          color: $font-dark-gray;
          font-weight: 600;
          letter-spacing: 1px;
          border: 1px solid #d5d9d9;
        }
      }
    }
  }
}

@include mixin.tablet() {
  .section {
    display: flex;
    justify-content: center;

    .wrapper {
      .featureParagraph {
        max-width: 75%;
        font-size: $font-small;
        text-align: center;

        p {
          margin: 0.8rem 0;
        }
      }

      .cardsWrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .card {
          margin: 1rem;

          .p {
            margin-bottom: 1rem;
          }

          .button {
            margin-top: auto;
          }
        }
      }
    }
  }
}
