@use "../../styles/mixin.scss" as mixin;
@import "../../styles/variables.scss";

.section {
  background-image: url("/images/bg1.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  .wrapper {
    @include mixin.wrapper();
    display: flex;
    flex-direction: column;
    align-items: center;

    .textWrapper {
      text-align: center;
      padding: 3rem 0;

      h2 {
        font-size: $font-big;
        color: $font-dark-gray;
      }

      p {
        font-size: $font-small;
        color: $font-gray;
      }
    }

    .textWrapper,
    .cardsWrapper {
      @include mixin.contentWrapper();
    }

    .cardsWrapper {
      .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0.8rem;
        padding: 1.2rem;
        max-width: 400px;
        border-radius: 5px;
        background: #fff;
        -webkit-box-shadow: 0px 0px 38px -24px rgba(66, 68, 90, 1);
        -moz-box-shadow: 0px 0px 38px -24px rgba(66, 68, 90, 1);
        box-shadow: 0px 0px 38px -24px rgba(66, 68, 90, 1);
        position: relative;

        .iconWrapper {
          border-radius: 50%;
          padding: 0.7rem;
          display: flex;
          align-items: center;

          .icon {
            font-size: $font-big;
          }
        }

        .featureImage {
          height: 350px;
        }

        .h4 {
          text-align: center;
          max-width: 80%;
          margin-top: 1rem;
          color: $font-dark-gray;
          font-size: $font-medium;
        }

        .p {
          text-align: center;
          color: $font-dark-gray;
          margin-top: 1rem;
          font-size: $font-small;
        }

        .btnWrapper {
          margin-top: auto;
        }
      }
    }
  }
}

@include mixin.tablet() {
  .section {
    display: flex;
    justify-content: center;

    .wrapper {
      .textWrapper {
        p {
          font-size: $font-medium;
        }
      }
      .cardsWrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .card {
          margin: 1rem;

          .p {
            margin-bottom: 1rem;
          }

          .button {
            margin-top: auto;
          }
        }
      }
    }
  }
}
