@use "../../styles/mixin.scss" as mixin;
@import "../../styles/variables.scss";

.nav {
  display: none;
}

@include mixin.tablet() {
  .nav {
    background: mixin.$primary-color-dark;
    color: mixin.$font-gray;
    display: flex;
    width: 100%;
    justify-content: center;
    height: 70px;

    .wrapper {
      @include mixin.wrapper();
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    img {
      max-height: 40px;
      margin-left: 1rem;
    }

    .listWrapper {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .ul {
        @include mixin.list-default();
        height: 100%;
        display: flex;
        align-items: center;

        .outerLiLink {
          .linkWrapper {
            display: flex;
            align-items: center;
            position: relative;
            padding: 0.5rem;
            margin: 0 0.3em;
            min-width: 80px;

            .link {
              @include mixin.link-default();
              font-size: $font-small;
              border-radius: 5px;
              padding: 0.3rem;
            }

            .icon {
              @include mixin.arrow-icon(#222729, #fff);
              margin-left: 0.2rem;
            }
          }
        }
      }

      .buttonWrapper {
        margin-left: 5rem;
        margin-right: 2rem;
        border-radius: 25px;
      }
    }
  }
}
