@use "../../styles//mixin.scss" as mixin;
@import "../../styles/variables.scss";

.ul {
  @include mixin.list-default();
  background: #fff;
  width: 100%;
  z-index: 10001;

  .li {
    margin: 0.3rem 0;
    .link {
      @include mixin.link-default();
      font-size: $font-micro;
    }
  }
}

@include mixin.tablet {
  .ul {
    @include mixin.list-default();
    background: mixin.$primary-color-gray;
    position: absolute;
    top: 70px;
    padding: 0.5rem;
    margin: 0 0.3em;
    width: auto;

    .li {
      margin: 0.3rem 0;
      .link {
        @include mixin.link-default();
        font-size: $font-micro;
        color: #30373a;
        font-weight: 600;
      }
    }
  }
}
